<template>
  <nav>
    <div>
      <template v-if="user.isAuthenticated">
        <span>Hello, {{user.username}}</span>
      </template>
      <template v-else>
        <router-link to="/">Acceuil</router-link>
      </template>
    </div>
    <div>
      <template v-if="user.isAuthenticated">
        <button class="neon-btn neon-crimson" @click="logoutModalActive = true">Logout</button>
      </template>
      <template v-else>
        <button class="neon-btn" @click="loginModalActive = true">Login</button>
      </template>
    </div>
  </nav>
  <main>
    <router-view />
  </main>
  <PopupWindow v-if="loginModalActive"
      title="Login"
      :hide-actions="true"
      @action-close="this.loginModalActive = false">
    <LoginForm @logged-in="this.loginModalActive = false"/>
  </PopupWindow>
  <PopupWindow v-if="logoutModalActive"
      title="Logout"
      :hide-actions="true"
      @action-close="this.logoutModalActive = false">
    <p style="font-size: 20px;">Etes-vous sur de vouloir quitter ?</p>
    <LogoutButton @logged-out="this.logoutModalActive = false"/>
  </PopupWindow>
</template>

<script>
import useStateStore from "@/store/state";
import useUserStore from "@/store/user";
import LogoutButton from "@/components/LogoutButton";
import PopupWindow from "@/components/PopupWindow";
import LoginForm from "@/components/LoginForm";
import './registerServiceWorker';

export default {
  setup() {
    const state = useStateStore();
    const user = useUserStore();

    return {
      state,
      user
    };
  },
  components: {
    LogoutButton,
    PopupWindow,
    LoginForm
  },
  data() {
    return {
      loginModalActive: false,
      logoutModalActive: false
    }
  }
};
</script>


<style>
* {
  font-family: monospace;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: darkslategray;
  color: white;
}

#app {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: min-content auto;
  grid-template-areas: 'nav' 'main';
}

nav {
  padding: 1em;
  border-bottom: 1px solid gray;
  background: rgb(0 0 0 / 20%);
  font-size: 20px;
  grid-area: nav;
  display: grid;
  /* flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; */
  grid-template-columns: 2fr 1fr;
}

main {
  grid-area: main;
}

nav > div {
  height: 100%;
}

nav > div:first-child {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  float: left;
}

nav > div:last-child {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  float: right;
}

nav > div > *:first-child {
  margin: 0 0.5em 0 0;
}

nav > div > *:last-child {
  margin: 0 0 0 0.5em;
}

nav > div > * {
  margin: 0 0.5em;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: .3s;
}

nav > div > *:hover,
nav > div > *:focus {
  color: rgb(0, 255, 255);
}

nav > div > *:active {
  color: rgb(0, 160, 160);
}

.neon-btn {
  padding: 5px;
  border: 2px solid cyan;
  border-radius: 3px;
  color: cyan;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.neon-btn:hover {
  color: white;
  background: rgb(0 255 255 / 35%);
}

.neon-crimson {
  color: crimson;
  border-color: crimson;
}

.neon-crimson:hover {
  background: rgba(220, 20, 60, 35%);
}

.neon-lime {
  color: lime;
  border-color: lime;
}

.neon-lime:hover {
  background: rgba(0, 255, 0, 35%);
}

.player-icon {
  width: 0px !important;
  height: 0px !important;
  margin: 0 !important;
  padding: 8px;
  top: -16px !important;
  left: -16px !important;
  border-radius: 50%;
  border: 8px solid cyan;
  background-color: lightcyan;
  position: relative;
}

.info {
  background: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 3px;
  color: black;
}

.chest-icon {
  border-radius: 50%;
  background-color: orange;
  padding: 5px;
  position: absolute;
  top: -5px;
  left: -5px;
}
</style>
