<template>
  <div id="home">
    <img id="logo" alt="Vue logo" src="../assets/logo.svg" />
    <HelloWorld msg="La Guilde des Trouvailles" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "HomeView",
  components: {
    HelloWorld,
  },
};
</script>

<style scoped>
#logo {
  width: 200px;
  height: 250px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
</style>
