<template>
  <div id="map-view">
    <KeepAlive>
      <MyMap @game-over="(msg) => this.gameOver(msg)"/>
    </KeepAlive>
  </div>
  <PopupWindow v-if="gameOverModalActive"
      title="Game Over"
      :hide-actions="true"
      @action-close="this.gameOverModalClose()">
    <p style="font-size: 20px;">{{ gameOverModalMessage }}</p>
  </PopupWindow>
</template>

<script>
import MyMap from "@/components/MyMap.vue";
import PopupWindow from "@/components/PopupWindow";
import useUserStore from "@/store/user";

export default {
  name: "MapView",
  components: {
    MyMap,
    PopupWindow
  },
  setup() {
    const user = useUserStore();

    return {
      user
    };
  },
  data() {
    return {
      gameOverModalActive: false,
      gameOverModalMessage: ""
    }
  },
  methods: {
    gameOver(msg) {
      this.gameOverModalActive = true;
      this.gameOverModalMessage = msg;
      this.user.disconnect()
      .then(this.user.logout)
      .catch(console.error);

      const endGameNotif = "Game over !";
      self.navigator.serviceWorker.getRegistration(`./sw.js`).then(r => {
        var v = caches.open("cache-permission").then(cache => (cache[0]));
        if(v == "granted"){
          if (r) {
            return r.showNotification(endGameNotif, {vibrate:[200, 200, 200, 200]});
          }
        }
      });
    },

    gameOverModalClose() {
      this.gameOverModalActive = false;
      this.$router.replace('/');
    }
  }
};
</script>

<style scoped>
#map-view {
  width: 100%;
  height: 100%;
}
</style>