<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
  <div th:if="${user == null}">
    <p>User with ID <span th:text="${id}"/> does not exist</p>
  </div>
  <div th:unless="${user == null}">
    <p>User: <span th:text="${user.login}"/></p>
    <p>Connected: <span th:text="${user.connected}" th:unless="${user == null}"/></p>
  </div>
</body>
</html>