<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>Connectez-vous pour commencer le jeu</p>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  text-align: center;
}
</style>
