<template>
  <ul id="login-ul">
    <li>
      <label for="login">Nickname</label>
      <input type="text" name="login" id="login" />
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </li>
    <li v-if="!hideSubmitBtn">
      <button id="submit-btn" class="neon-btn" v-on:click="login">Login</button>
    </li>
  </ul>
</template>

<script>
import useStateStore from "@/store/state";
import useUserStore from "@/store/user";

export default {
  name: "LoginForm",
  setup() {
    const state = useStateStore();
    const user = useUserStore();

    return {
      state,
      user
    };
  },
  props: ['hideSubmitBtn'],
  emits: ['logged-in'],
  methods: {
    login() {
      console.log("@login");

      const username = document.getElementById("login").value;
      const password = document.getElementById("password").value;

      this.user.username = username;
      this.user.password = password;

      this.user.login()
        .then(() => {
          this.$emit('logged-in');
          const redirectPath = this.$route.query.redirectPath || "/map";
          this.$router.replace({path: redirectPath});
        })
        .catch(e => {
          console.error(e);
        });
    }
  }
};
</script>

<style scoped>
#login-ul {
  width: 20%;
  min-width: 180px;
  max-width: 240px;
  margin: 0 auto;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#login-ul > * {
  font-size: 20px;
}

#login-ul > li:first-child {
  margin: 0 0 10px 0;
}

#login-ul > li:last-child {
  margin: 10px 0 0 0;
}

#login-ul > li {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

#login-ul > li > * {
  box-sizing: border-box;
  width: 100%;
}

#login-ul > li > label {
  font-size: 18px;
  margin-bottom: 5px;
}

#login-ul > li > input {
  padding: 5px;
  border-radius: 3px;
}
</style>
