<template>
  <button id="logout-btn" class="neon-btn neon-crimson" v-on:click="logout">Logout</button>
</template>

<script>
import useUserStore from "@/store/user";

export default {
  name: "LogoutButton",
  setup() {
    const user = useUserStore();

    return {
      user
    };
  },
  emits: ['logged-out'],
  methods: {
    logout() {
      console.log("@logout");

      new Promise((resolve, reject) => {
        if (this.$route.name === "map") {
          resolve(this.user.disconnect());
        }
        resolve();
      })
      .then(this.user.logout)
      .then(() => {
        this.$emit('logged-out');
        this.$router.replace("/");
      })
      .catch(console.error);
    }
  }
};
</script>
