<template>
    <template v-if="user.isConnected">
      <div id="map"></div>
    </template>
    <template v-else>
      <div id="connect-error-block">
        <span id="connect-error-msg">{{ this.errorMsg }}</span>
        <button class="neon-btn" v-on:click="before">Refresh</button>
      </div>
    </template>
</template>

<script>
import useStateStore from "@/store/state";
import useUserStore from "@/store/user";

import "leaflet/dist/leaflet.css";
// This part resolves an issue where the markers would not appear in webpack
import { Icon } from "leaflet";
delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

export default {
  name: "MyMap",

  data() {
    return {
      lat: 45.782,
      lng: 4.8656,
      zoom: 18,
      map: undefined,
      errorMsg: ""
    }
  },

  setup() {
    const state = useStateStore();
    const user = useUserStore();

    return {
      state,
      user
    };
  },

  beforeMount() {
    this.before();
  },

  methods: {

    before: function() {
      if (!this.user.isConnected) {
        this.state.getStatus()
          .catch(this.wait)
          .then(this.user.connect)
          .then(() => import("leaflet"))
          .then(this.leaflet)
          .catch(console.error);
      }
    },

    leaflet: function(L) {

      // Map sources
      const accessToken = 'pk.eyJ1IjoibWFyYnJleCIsImEiOiJja2tpcnA5ZDgwbndkMnVrN2t4MWs4NjA5In0.SyweHd2yUjuEfmnQ_TFiDg';
      const mapboxUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + accessToken;

      // BASE Layers (Tile Layers or tiles)
      // base means that only one can be visible on the map at a time
      const dark = L.tileLayer(mapboxUrl, {
        id: 'mapbox/dark-v10',
        minZoom: 11,
        maxZoom: 22,
      });

      const satellite = L.tileLayer(mapboxUrl, {
        id: 'mapbox/satellite-v9',
        minZoom: 11,
        maxNativeZoom: 18,
        maxZoom: 22,
      });

      // Creation of an instance of the main class in Leaflet
      // 'map' is the ID of a tag HTML in which the map will be shown
      this.map = L.map('map', {
        center: [this.lat, this.lng],
        zoom: this.zoom,
        // maxBounds: L.latLngBounds(L.latLng(45.842, 4.721), L.latLng(45.657, 5.011)), // user cannot drag the map outside these points (does not affect zoom)
        attributionControl: false, // to hide a "Leaflet" annotation at the right bottom corner
        layers: satellite // array of Layers which will be added initially
      });

      // Creation of a notice at bottom right corner of the map
      const infoBtmRgt = L.control({position: 'bottomright'});

      infoBtmRgt.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info'); // create a div with a class "infoBtmRgt"
        this.update();
        return this._div;
      };

      infoBtmRgt.update = function (ttl) {
        this._div.innerHTML = `<span><b>TTL: </b> ${ttl}</span><br />`;
      };

      infoBtmRgt.addTo(this.map);
      this.user.updatePlayerTTLInterval = setInterval(() => infoBtmRgt.update(this.user.ttl), 1000);

      // Creation of a notice at bottom left corner of the map
      const infoBtmLft = L.control({position: 'bottomleft'});

      infoBtmLft.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info info-treasures'); // create a div with a class "infoBtmLft"
        this._div.innerHTML = `<span>No Treasures</span>`;
        return this._div;
      };

      infoBtmLft.addTo(this.map);

      let zoneStart = L.latLng(this.user.zone.start.lat, this.user.zone.start.lng);
      let zoneEnd = L.latLng(this.user.zone.end.lat, this.user.zone.end.lng);
      const zoneBounds = [zoneStart, zoneEnd];
      const zone = L.rectangle(zoneBounds, {color: "#00ffff", weight: 1}).addTo(this.map);

      // add player marker
      const playerIcon = L.divIcon({className: "player-icon"});
      const player = L.marker([45.78207, 4.86559], { icon: playerIcon })
      .bindTooltip("Vous etes ici")
      .addTo(this.map);

      // update player marker's position each second
      this.user.updatePlayerPosInterval = setInterval(() => player.setLatLng(L.latLng(this.user.pos)), 1000);

      const baseMaps = {
        'Dark': dark,
        'Satellite': satellite
      };

      L.control.layers(baseMaps).addTo(this.map);

      const chestIcon = L.divIcon({className: "chest-icon"});
      const Chest = L.Marker.extend({
        options: { 
          icon: chestIcon
        },
        statics: {
          next_id: 0,
          count: 0
        }
      });
      Chest.addInitHook(function() {
        this.options.chest_id = Chest.next_id++;
        Chest.count++;
        this.addEventListener('remove', function() {
          Chest.count--;
        });
      });

      let chestsLayerGroup = L.layerGroup().addTo(this.map);

      this.user.putPositionInterval = setInterval(() => {
        this.user.putPosition()
        .then(data => {
          if (data.treasures) {

            // loop through only new spawned treasures
            let diff = data.treasures.filter(x => !this.user.allTreasures.some(y => x.id === y.id));
            diff.forEach(t => {
              console.debug("New treasure", t);
              console.debug("t.treasure_id", t.treasure_id);

              // update the user store
              this.user.allTreasures.push(t);

              // draw a chest on the map
              let chest = new Chest([t.position.lat,  t.position.lng], {
                  treasure_id: t.id,
                  treasure_type: t.name
                })
                .addTo(this.map)
                .bindTooltip(chest => `<span style="font-weight: bold; font-seize: 20px;">${chest.options.treasure_type}</span>`);
              chestsLayerGroup.addLayer(chest);

            });
            console.log("Chest count", Chest.count);
          }
          if (data.treasuresGot) {

            // loop through only new spawned treasures
            let diff = data.treasuresGot.filter(x => !this.user.myTreasures.some(y => x.id === y.id));
            diff.forEach(t => {
              console.debug("GOT a treasure", t);

              // update the user store
              this.user.myTreasures.push(t);

              // update the map
              this.addTreasure(t.name);
              chestsLayerGroup.eachLayer(c => {
                console.debug("Searching for the chest to remove");
                console.debug("c.options.treasure_id", c.options.treasure_id);
                console.debug("t.id", t.id);

                if (c.options.treasure_id === t.id) {
                  chestsLayerGroup.removeLayer(c);
                  // this.map.removeLayer(c);
                }
              });
            });
          }
        })
        .catch(error => {
          this.gameOver(error.message);
        });
      }, 5000);

    },

    wait: function(errMsg) {
      console.error(errMsg);
      this.errorMsg = errMsg;
    },

    addTreasure(t) {
      const nodes = document.querySelectorAll(".info-treasures .treasure");
      
      let exists = false;
      if (nodes.length !== 0) {
        // there are existing treasures in block -> search through
        nodes.forEach(e => {
          if (e.firstElementChild.getAttribute("treasure") === t) {
            // t already present -> just increment
            exists = true;
            const count = parseInt(e.lastChild.innerHTML);
            e.lastChild.innerHTML = `${count + 1}`;
          }
        });
      }
      else {
        // treasures block is empty -> remove placeholder
        document.querySelector(".info-treasures").innerHTML = "";
      }

      if (!exists) {
        // t is not present -> insert new treasure tag
        const tag = document.createElement("div");
        tag.className = "treasure";

        tag.innerHTML = `<span class="treasure-name" treasure="${t}">${t} x</span><span class="treasure-count">1</span>`;

        const block = document.querySelector(".info-treasures");
        block.appendChild(tag);
      }
    },

    gameOver(msg) {
      this.$emit('game-over', msg);
    }
    
  }
};
</script>

<style scoped>
#map {
  height: 100%;
  width: 100%;
}

#connect-error-block {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#connect-error-block > * {
  margin: 5px;
  font-size: 20px;
}

#connect-error-msg {
  text-align: center;
}
</style>
