<template>
  <div class="popup-background" @click.self="$emit('action-close')">
    <div class="popup-window">
      <div class="popup-title">{{ title }}</div>
      <div class="popup-content">
        <slot />
      </div>
      <div class="popup-footer" v-if="!hideActions">
        <button @click="$emit('action-cancel')" class="neon-btn neon-crimson">cancel</button>
        <button @click="$emit('action-ok')" class="neon-btn">ok</button>
      </div>
      <div class="popup-close" @click.self="$emit('action-close')">x</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PopupWindow",
  props: ['title', 'hideActions'],
  emits: ['action-ok', 'action-cancel', 'action-close']
}
</script>

<style>
.popup-background {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-window {
  z-index: 999;
  background: darkslategray;
  border: 2px solid darkcyan;
  border-radius: 5px;
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  max-width: 90%;
  max-height: 80%;
}

.popup-close {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.popup-title {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

.popup-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.popup-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.popup-footer > * {
  margin: 0 5px;
  min-width: 50px;
  width: 100px;
  max-width: 50%;
}

.popup-footer > *:first-child {
  margin: 0 5px 0 0;
}

.popup-footer > *:last-child {
  margin: 0 0 0 5px;
}
</style>