* {
    font-family: monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: darkslategray;
    color: white;
}

#title-wrapper {
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-new-game-btn {
    height: min-content;
    line-height: 3px;
    box-sizing: border-box;
    margin: 0 10px;
}

#page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 7rem);
}

#page {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: minmax(250px, .5fr) minmax(250px, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    grid-template-areas: 'params map';
    box-sizing: border-box;
}

#params-block {
    grid-area: params;
}

#params-block .block-content {
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    grid-template-columns: minmax(auto, 100%);
    padding: 10px;
    justify-items: center;
    transition: .3s;
}

#map-block {
    grid-area: map;
}

#map-block .block-content {
    height: 100%;
    width: 100%;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#actions-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#actions-block > * {
    margin: 10px;
}

.params {
    min-width: 100%;
    box-sizing:border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.params > * {
    margin-bottom: 10px;
}

.point-icon {
    border-radius: 50%;
    background-color: cyan;
    padding: 5px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.chest-icon {
    border-radius: 50%;
    background-color: orange;
    padding: 5px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.player-icon {
    width: 0px !important;
    height: 0px !important;
    margin: 0 !important;
    padding: 8px;
    top: -16px !important;
    left: -16px !important;
    border-radius: 50%;
    border: 8px solid cyan;
    background-color: lightcyan;
    position: relative;
  }

.player-connected-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    align-self: center;
}

.red {
    background-color: crimson;
}

.green {
    background-color: green;
}

input[type="number"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid white;
    transition: .2s;
    outline: none;
    box-sizing: border-box;
}

input[type="number"]:focus {
    border: 1px solid cyan;
    background-color: lightcyan;
}

input[type="button"] {
    padding: 10px;
    border-radius: 5px;
    border: 3px solid cyan;
    background: rgba(255, 255, 255, 0);
    color: cyan;
    font-weight: bold;
    font-size: 20px;
    transition: .1s;
    cursor: pointer;
}

input[type="button"]:hover {
    color: white;
    background-color: darkcyan;
}

input[type="button"]:active {
    background-color: cyan;
}

.param-title {
    font-size: 18px;
    font-weight: bold;
}

#player-block {
    grid-area: player;
    display: none;
}

#player-block .block-title {
    display: flex;
    flex-direction: row;
}

#player-block .block-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#player-block .block-content > * {
    margin: 10px;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 3px;
}

#user-avatar {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
    background-size: cover;
}

#log-block {
    grid-area: log;
    display: none;
}

#log-block .block-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0;
}

.log-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 3px 5px;
    box-sizing: border-box;
}

.log-line > * {
    box-sizing: border-box;
}

.log-line > .log-msg {
    width: 85%;
    text-align: left;
}

.log-line > .log-msg-time {
    width: 15%;
    text-align: right;
}

#treasures-block {
    grid-area: treasures;
    display: none;
}

#treasures-block .block-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#treasures-block .block-content > * {
    margin: 5px;
}

.treasure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(0, 255, 255, 0.2);
}

.treasure-name {
    margin-right: auto;
}

.treasure-count {
    margin-left: auto;
}

button {
    margin: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.block-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px auto;
    grid-template-areas: 'title' 'content';
    row-gap: 2px;
}

.block-title {
    grid-area: title;
    font-size: 18px;
    font-weight: bold;
}

.block-content {
    grid-area: content;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid cyan;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
}

.treasure-picker {
    display: grid;
    gap: 5px;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr);
    grid-template-rows: minmax(50px, 1fr) minmax(50px, 1fr);
    padding: 5px;
}

.treasure-picker > button {
    margin: 0;
    background: rgb(0 0 0 / 10%);
    border: none;
}

.treasure-picker > button > * {
    width: 60%;
    height: 60%;
}

.log-line:nth-child(odd) {
    background: rgb(0 255 255 / 10%);
}

.log-line:nth-child(even) {
    background: rgb(0 255 255 / 20%);
}

.fa-moon {color: dodgerblue;}

.fa-ghost {color: slategray;}

.fa-skull {color: crimson;}

.fa-bitcoin {color: orange;}

.treasure-picker > button:hover,
.treasure-picker > button:focus {
    background: rgb(0 0 0 / 15%);
    cursor: pointer;
}


@media screen and (max-width: 600px) {

    #page-wrapper {
        height: max-content;
    }

    #page {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'map' 'params';
    }

    #map-block {
        height: 40vh;
    }

}
